<%- include("partials/header") -%>
<div class="container compose-page-contents">
  <h1>Compose</h1>
  <form id="compose-form" action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" type="text" name="postTitle">
      <label for="editor">Post</label>
      <!-- Create the editor container -->
      <div class="quill-div">
        <div id="editor" style="height: 200px">
          <p><br></p>
        </div>
      </div>

      <input type="hidden" id="body" name="postBody" rows="3"></input>
      <input type="hidden" id="bodyText" name="postBodyText"></input>
    </div>
    <button class= "btn btn-primary" type="button" onClick="parseQuill()" name="composeButton">Publish</button>
  </form>
  <!-- div for caption creation -->
  <div class="container" id="captionDiv" style="display: none">
    <p id="imgSelectorP"> Select an image to add a caption to. </p>
    <input type="text" id="captionText" name="captionText" placeholder="Caption text">
    <button id="addCaption" class="bg-primary" type="button" name="button">Add</button>
    <button id="cancelCaption" class="bg-warning" type="button" name="button">Cancel</button>
  </div>
</div>

<!-- What follows is all of my JS files and code. Could be more clean and efficient with use of modules -->

<!-- submitting posts -->
<script src="/JS/parseQuill.js"></script>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- scripts for image resize and drop modules -->
<script src="/JS/image-resize.min.js"></script>
<script src="/JS/image-drop.min.js"></script>
<!-- add custom quill blots -->
<script src="/JS/quillCustomBlots.js"></script>
<!-- instantiate quill editor -->
<script src="/JS/quillEditor.js"></script>
<!-- add buttons for quill -->
<script src="/JS/customButtons.js"></script>
<!-- logic for implementing image captioning -->
<script src="/JS/imageCaption.js"></script>
<!-- give new quill toolbar buttons functionality -->
<script src="/JS/buttonFunctionality.js"></script>

<%- include("partials/footer") -%>
