<%- include("partials/header") -%>
<div class="container compose-page-contents">
  <h1>Compose</h1>
  <form id="compose-form" action="/compose" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" type="text" name="postTitle">
      <label for="editor">Post</label>
      <!-- Create the editor container -->
      <div class="quill-div">
        <div id="editor" style="height: 200px">
          <p><br></p>
        </div>
      </div>

      <input type="hidden" id="body" name="postBody" rows="3"></input>
      <input type="hidden" id="bodyText" name="postBodyText"></input>
    </div>
    <button class= "btn btn-primary" type="button" onClick="parseQuill()" name="composeButton">Publish</button>
  </form>
</div>

<script type="text/javascript">
  function parseQuill(){
    document.getElementById("body").value = encodeURIComponent(JSON.stringify(quill.getContents()));
    document.getElementById("bodyText").value = quill.getText();
    document.getElementById("compose-form").submit();
  }
  // works in as much as it creates the db entry
  // function parseQuill(){
  //   const delta = quill.getContents();
  //   document.getElementById("body").setAttribute("value", delta);
  //   document.getElementById("compose-form").submit();
  // }
</script>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/JS/image-resize.min.js"></script>


<!-- Initialize Quill editor -->
<script>
  // quill imports
  var FontAttributor = Quill.import('attributors/class/font');
  var BlockEmbed = Quill.import('blots/block/embed');

  // whitelist for supported fonts
FontAttributor.whitelist = [
  'libre-baskerville', 'pt-serif', 'playfair-display'
];

// extend quill to support dividers in post content (horizontal rule)
class DividerBlot extends BlockEmbed { }
DividerBlot.blotName = 'divider';
DividerBlot.tagName = 'hr'

// register new quill features
Quill.register(FontAttributor, true);
Quill.register(DividerBlot);

  var toolbarOptions = [
  // font options with defaults from theme. Custom size options
  [{ 'font': ['','libre-baskerville', 'pt-serif', 'playfair-display'] },{ 'size': ['small', false, 'large', 'huge'] }],
  // font color and highlight options with defaults from theme
  [{ 'color': [] }, { 'background': [] }],
  // font styling
  ['bold', 'italic', 'underline', 'strike'],
  // formatting
  [{ 'align': [] }],
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],
  [{ 'indent': '-1'}, { 'indent': '+1' }],
  // embed image or video
  ['image', 'video'],
  // quotes or code
  ['link','blockquote', 'code-block', 'code'],
  // optional header buttons and formatting
  [{ 'header': 1 }, { 'header': 2 },{ 'header': [1, 2, 3, 4, 5, 6, false] }],
  // invert text direction button
  [{ 'direction': 'rtl' }],
  // reset formatting button
  ['clean']
];

var quill = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions,
    imageResize: {}
  },
  theme: 'snow',
  placeholder: "Write and format post here."
});

// add divider button
var qlTollbar = document.querySelector(".ql-toolbar");

dividerButton = document.createElement("button");
        dividerButton.innerHTML = '<i class="fas fa-minus"></i>';
        dividerButton.classList.add("ql-divider")
        dividerButton.setAttribute("type", "button");
        dividerButton.id="divider-button";

dividerButtonSpan = document.createElement("span");
        dividerButtonSpan.classList.add("ql-formats");
        dividerButtonSpan.appendChild(dividerButton);
        qlTollbar.appendChild(dividerButtonSpan);

// implement divider functionality
document.querySelector('.ql-divider').addEventListener("click", function() {
  let range = quill.getSelection(true);
  quill.insertText(range.index, '\n', Quill.sources.USER);
  quill.insertEmbed(range.index + 1, 'divider', true, Quill.sources.USER);
  quill.setSelection(range.index + 2, Quill.sources.SILENT);

});
</script>

<%- include("partials/footer") -%>
