html{
  font-size: 1em;
}

body{
  font-family: 'Libre Baskerville', 'PT Serif', serif;

  min-height: 100vh;
  position: relative;
  font-size: 1em;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
}

a{
  font-size: 0.9em;
}
hr{
  max-width: 25rem;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 2.5px solid #eee;
}
/* over-ride bootstrap container width on large screens. leaves support for media queries
when screen size shrinks */
.container{
  max-width: 1000px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default{
  padding-top: .72em;
  padding-bottom: 0;
}

#mainNav{
  position: sticky;
  top: 0;
  background-color: #eee;
  z-index: 10;
}
.navbar-default .navbar-nav  li a:hover {
    color: #1abc9c !important;
    background-color: lightgray;
}

/* feature div styling */
.feature-div{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 323px;
  margin-bottom: 5.25em;
}

.feature-div-headers{
  position: relative;
  top:10em;
  color: black;
}

.feature-div-headers a{
  text-decoration: none;
  color: black;
}

.feature-div-headers a:link{
  text-decoration: none;
}

.feature-div-headers a:visited{
  text-decoration: none;
}

@media (max-width: 767px){
#home a{
  padding-top: 0;
  }
  .navbar-brand{
    margin-bottom: 0;
  }
}

/* article styling */

.article-hr{
  max-width: 100%;
}

.article-content{
  padding: 0;
  line-height: 1.7;
  font-size: 1.12em;
}

.article-content p{
  display: inline;
}

.article-thumbnail{
  float: right;
  margin-top: 1.27em;
  margin-right: 0.9em;
}

.article-thumbnail img{
  max-width: 256px;
}

.article-preview{
margin-right: 19.6em;
margin-top: 1em;
}

.post-date{
  font-size: 12.75px;
}

.quillEditor-page-contents h1, label{
  letter-spacing: 0.1em;
  padding-top: 10px;
}

.btn{
  margin-bottom: 10px;
}

/* quill editor styling */

.quill-div{
  /* max-width: 90%; */
  position: relative;
  margin: auto;
}

.ql-toolbar{
  border-radius: 4px 4px 0 0;
}

.ql-formats i{
  display: flex
}

#editor{
  border-radius: 0 0 4px 4px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
  content: 'Sans Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='libre-baskerville']::before{
  content: 'Libre Baskerville';
  font-family: 'Libre Baskerville';
  font-size: 0.65em;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='libre-baskerville']::before
{
  content: 'Libre Baskerville';
  font-family: 'Libre Baskerville';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='pt-serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='pt-serif']::before
{
  content: 'PT Serif';
  font-family: 'PT Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='playfair-display']::before
{
  content: 'Playfair Display';
  font-family: 'Playfair Display';
  font-size: 0.8em;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='playfair-display']::before
{
  content: 'Playfair Display';
  font-family: 'Playfair Display';
}

.ql-font-libre-baskerville{
  font-family: 'Libre Baskerville', 'serif';
}

.ql-font-pt-serif{
  font-family: 'PT Serif', 'serif'
}

.ql-font-playfair-display{
  font-family: 'Playfair Display', 'serif';
}

/* inline block so caption inner div width defaults to the width of it's contents (ie image width) */
.ql-caption-inner-div{
  display:inline-block;
}

.ql-caption-p{
  color: #757575;
  width:inherit;
  text-align: center;
}
/* captionDiv styling */

.popupDiv{
  text-align: center;
  position: relative;
  width: fit-content;
  background-color: #eee;
  bottom: 17rem;
  padding: 1.2rem;
  border-radius: 4px;
  color: black;
}

.captionDiv label{
  display: inline-block;
  margin-left: 10px;
}

.popupDiv button{
  border: 1px;
  border-radius: 4px;
}

#captionText{
  display:block;
  margin: 10px auto;
}

/* thumbnail image upload page */
.fileUploadContainer{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
}
.fileUploadDiv{
  max-width: 27rem;
  height: 100%;
  text-align: center;
  background-color: #eee;
  bottom: 17rem;
  padding: 1.2rem;
  border-radius: 4px;
  color: black;
}

.fileUploadDiv p{
  margin: 10px 0;
}

.fileUploadDiv button{
  margin-top: 5px;
}

#fileUploadInput{
  margin: 10px auto;
  width: 57%;
}

label img{
  width:7.5rem;
}

.bg-warning{
  background-color: #ff7b54;
}

.blur{
  filter:blur(5px);  /* blur rest of page when caption div opens */
}

/* profile settings page styles */

.profileDiv{
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #eee;
  padding-left: 15px;
  line-height: 1.25rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.profileDiv ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.75rem;
}

.profileDiv h2{
  padding-bottom: 0;
}

.two-card-col-wrapper{
  padding: 25px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15%;
}

.two-card-col{
  text-align: left;
  width: 70%;
  height: 100%;
}

.one-card-col-wrapper{
  padding: 25px 0 50px;
}

.settings-header{
  padding-bottom: 15px;
}

.inputs hr{
  border-top: 1px solid #c0c0c0;
  margin-right: 15px;
}

.inputs input{
  border: #eee;
  background-color: #eee;
  padding-top: 5px;
}

.inputs input:focus{
  outline: none;
  /* bad for accesibility - add JS that auto selects input when edit button clicked */
}

.inputs input[type=file]{
  display: inline;
  width: 250px;
}

.inputs label{
  display: block;
  padding-top: 5px;
  margin-bottom: 10px;
}

/* .smallLabel {
  font-size: .88rem;
  font-weight: 100;
} */

.inputs select{
  padding-top: 5px;
  background-color: #eee;
  border: 0;
  -webkit-appearance: none;
  width: 216px;
}

.hoverSpan{
  display: none;
  position: relative;
  top: -54px;
  background-color: white;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 2.5px;
}

.inputs img{
  width: 150px;
  height: 125px;
}

.inputs:last-child{
  margin-bottom: 20px;
}

.profileEdit-btn{
  float:right;
  margin-right: 20px;
  border: 0.5px;
  border-radius: 13px;
  padding: 3.7px 8px;
  font-size: 0.88rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.profileEdit-btn:hover{
  background-color: lightgray;
}

/* .save-btn{
  position: absolute;
  left:466px;
} */

.img-preview-btns-div{
  display: none;
  padding-top: 20px;
  margin-bottom: 20px;
}

.left-btn{
  float: none;
}

.one-card-col-wrapper hr{
 max-width: 100%;
 margin-top: 20px;
 margin-bottom: 15px;
}

.one-card-col-wrapper .inputs{
 padding-right: 15px;
}

.post-title-anchor {
  text-decoration: none;
  color: black;
}

/* edit post page styling */
.editProfilePopup{
  position: relative;
}

/* footer styling */

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
  width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}


/* landing page styling */

.landing-section-header{
  text-align: center;
  background-color: #eee;
  letter-spacing: 3px;
}

.landing-section-header h1{
  margin: 0;
  padding: 20px 0 10px 0;
}

.landing-section-header h2{
  margin: 0;
  padding: 10px 0 20px 0;
}

.landing-section-header p{
  margin: 0;
  line-height: 2;
  padding: 0px 250px 20px;
}

/* flex container for aligning divs on page */
.landing-container{
  display: flex;
}

/* landing image and login div */
.main-landing-div-img{
  height: 543px;
  width: 66%;
}

.main-landing-div-img img{
  width: 100%;
  height: 100%;
}

.login-div{
  width: 34%;
  background-color: #00ADB5;
  text-align: center;
  position: relative;
  padding: 4% 0;
}

.login-card{
  background-color: #AAD8D3;
  width: 75%;
  margin: auto;
  border-radius: 2%;
}

.login-card input{
  display: inline-block;
  background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 75%;
	box-sizing: border-box;
  background-color: #E4E9FD;
	color:#8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}

.login-card input:hover{
  background-color: #E1E5EA;
}

.login-card input:focus{
  background-color: #A7BBC7;
}

.login-card form{
  padding: 20px;
}

.login-card button{
  display: block;
  margin: auto;
  width: 75%;
  background-color: #F7A440
}

.login-card button:hover{
  background-color: #E1701A;
}

.login-form{
  text-align: center;
}

.oauth-btn{
  width: 68%;
}

.register-link{
  font-size: 15px;
  padding-bottom: 15px;
}

/* features container */
#more-padding-h2{
  padding: 20px 0 20px 0;
}

.features-one{
  width: 50%;
  text-align: center;
  letter-spacing: 3px;
  background-color: #AAD8D3;
}

.features-two{
  width: 50%;
  text-align: center;
  letter-spacing: 3px;
  background-color: #00ADB5;
}

.features img{
  width: 95%;
  float: left;
  padding-left: 35px;
  padding-bottom: 15px;
}

.features ul{
  text-align: left;
  padding-left: 52px;
  line-height: 2;
  list-style-type: disclosure-closed;
}

.features-one li::marker{
  color: #00ADB5;
}

.features-two ul{
  padding-bottom: 10px;
}

.features-two li::marker{
  color: #AAD8D3;
}

.register{
  background-color: #eee;
  text-align: center;
  height: 175px;
}

.register h1{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
}

.register-btn{
  background-color: #00ADB5;
  padding: 20px 25px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.register-btn:hover{
  text-decoration: none;
  background-color: #AAD8D3;
  color: white;
}

/* register page styling */
.register-container{
  background-color: #eee;
  height: 100vh;
}

.register-card{
  margin-top: 175px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}

.register-card h1{
  margin-top: 33px;
  margin-bottom: 100px;
}

.btn-block{
  margin: auto;
  width: 31%;
  line-height: 1.88;
  font-size: 18px;
}

.email-btn{
  background-color: snow;
  margin-bottom: 100px;
}

.email-btn:hover{
  background-color: cornsilk;
}

.btn-social{
  padding-left: 48px;
}

.btn-social>:first-child{
  left: 2px;
  top: 5px;
  width: 37px;
  font-size: 1.6rem;
}

.btn-block + .btn-block{
  margin-top: 15px;
}
