html{
  font-size: 1em;
}

body{
  font-family: 'Libre Baskerville', 'PT Serif', serif;

  min-height: 100vh;
  position: relative;
  font-size: 1em;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
}

a{
  font-size: 0.9em;
}
hr{
  max-width: 25rem;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 2.5px solid #eee;
}
/* over-ride bootstrap container width on large screens. leaves support for media queries
when screen size shrinks */
.container{
  max-width: 1000px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default{
  padding-top: .72em;
  padding-bottom: 0;
}

#mainNav{
  position: sticky;
  top: 0;
  background-color: #eee;
  z-index: 10;
}
.navbar-default .navbar-nav  li a:hover {
    color: #1abc9c !important;
    background-color: lightgray;
}

/* feature div styling */
.feature-div{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 323px;
  margin-bottom: 5.25em;
}

.feature-div-headers{
  position: relative;
  top:10em;
  color: black;
}

.feature-div-headers a{
  text-decoration: none;
  color: black;
}

.feature-div-headers a:link{
  text-decoration: none;
}

.feature-div-headers a:visited{
  text-decoration: none;
}

@media (max-width: 767px){
#home a{
  padding-top: 0;
  }
  .navbar-brand{
    margin-bottom: 0;
  }
}

/* article styling */

.article-hr{
  max-width: 100%;
}

.article-content{
  padding: 0;
  line-height: 1.7;
  font-size: 1.12em;
}

.article-content p{
  display: inline;
}

.article-thumbnail{
  float: right;
  margin-top: 1.27em;
  margin-right: 0.9em;
}

.article-thumbnail img{
  max-width: 256px;
}

.article-preview{
margin-right: 19.6em;
margin-top: 1em;
}

.post-date{
  font-size: 12.75px;
}

/* compose page styling */
.compose-page-contents{

}

.compose-page-contents h1, label{
  letter-spacing: 0.1em;
  padding-top: 10px;
}

.btn{
  margin-bottom: 10px;
}

/* quill editor styling */

.quill-div{
  /* max-width: 90%; */
  position: relative;
  margin: auto;
}

.ql-toolbar{
  border-radius: 4px 4px 0 0;
}

.ql-formats i{
  display: flex
}

#editor{
  border-radius: 0 0 4px 4px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
  content: 'Sans Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='libre-baskerville']::before{
  content: 'Libre Baskerville';
  font-family: 'Libre Baskerville';
  font-size: 0.65em;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='libre-baskerville']::before
{
  content: 'Libre Baskerville';
  font-family: 'Libre Baskerville';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='pt-serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='pt-serif']::before
{
  content: 'PT Serif';
  font-family: 'PT Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='playfair-display']::before
{
  content: 'Playfair Display';
  font-family: 'Playfair Display';
  font-size: 0.8em;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='playfair-display']::before
{
  content: 'Playfair Display';
  font-family: 'Playfair Display';
}

.ql-font-libre-baskerville{
  font-family: 'Libre Baskerville', 'serif';
}

.ql-font-pt-serif{
  font-family: 'PT Serif', 'serif'
}

.ql-font-playfair-display{
  font-family: 'Playfair Display', 'serif';
}

/* inline block so caption inner div width defaults to the width of it's contents (ie image width) */
.ql-caption-inner-div{
  display:inline-block;
}

.ql-caption-p{
  color: #757575;
  width:inherit;
  text-align: center;
}
/* captionDiv styling */

.popupDiv{
  text-align: center;
  position: relative;
  width: fit-content;
  background-color: #eee;
  bottom: 17rem;
  padding: 1.2rem;
  border-radius: 4px;
  color: black;
}

.captionDiv label{
  display: inline-block;
  margin-left: 10px;
}

.popupDiv button{
  border: 1px;
  border-radius: 4px;
}

#captionText{
  display:block;
  margin: 10px auto;
}

/* thumbnail image upload page */
.fileUploadContainer{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
}
.fileUploadDiv{
  max-width: 27rem;
  height: 100%;
  text-align: center;
  background-color: #eee;
  bottom: 17rem;
  padding: 1.2rem;
  border-radius: 4px;
  color: black;
}

.fileUploadDiv p{
  margin: 10px 0;
}

.fileUploadDiv button{
  margin-top: 5px;
}

#fileUploadInput{
  margin: 10px auto;
  width: 57%;
}

label img{
  width:7.5rem;
}

.bg-warning{
  background-color: #ff7b54;
}

.blur{
  filter:blur(5px);  /* blur rest of page when caption div opens */
}

/* footer styling */

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
  width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
